<div>
  <button class="create-pool"
     mat-raised-button color="primary"
     routerLink="create-pool">
     Create Pool
  </button>
  <button class="create-pool"
    mat-raised-button color="primary"
    routerLink="create-asset">
    Create Asset
  </button>
</div>

<div class="table-holder">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element">
                 {{element[column]}} 
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row 
            (click)="rowClicked(row)"
            routerLink="pool-details/{{ row.poolId }}"
            *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>
</div>
<mat-paginator 
  #paginator
  [pageSizeOptions]="[10, 100, 1]"
  [length]="totalNumberOfPools" 
  aria-label="Select page"></mat-paginator>