<svg class="simple-pools" viewBox="0 0 500 160">
    <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
    <text class="simple-pools">
        <textPath xlink:href="#curve">
        _IM_LE _OO__
        </textPath>
    </text>
    <text class="sppls">
        <textPath class="sppls" xlink:href="#curve">
        S__P___P__LS
        </textPath>
    </text>
    <text class="simple-pools">
        <textPath class="simple-pools" xlink:href="#curve">
        ____________
        </textPath>
    </text>
</svg>

<div class="slogan">
    DeFi made simple
</div>
<div class="show-buttons">
    <button mat-raised-button color="primary" (click)="showPools()">DeFi exchange</button>
</div>
<div class="show-buttons">
    <button mat-raised-button color="primary" (click)="showNftMarketplace()">Trade NFTs</button>
</div>
<div class="show-buttons">
    <a href="https://github.com/simplepools/simplepools" target="_blank" rel="noopener noreferrer">
        <button mat-raised-button color="primary">
            <img width="20px" src="./assets/github.svg">
        </button>
    </a>
    <a href="https://etherscan.io/token/0x800017e2f513a966a0996fc7073c2cb0ce3c0008" target="_blank" rel="noopener noreferrer">
     <button mat-raised-button color="primary">   
            <img width="20px" src="./assets/etherscan.png">
     </button>
    </a>
</div>
<div class="footer">
    <p>
      <span><a href="mailto: contact@simplepools.org">contact@simplepools.org</a></span>
    </p>
    <p>
      <span>©</span> 2023 Simple Pools
    </p>
</div>